<% provide(:title, @taxon.name) %>
<%= render 'shared/light_section_header' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'sidebar', taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter', taxon: @taxon %>
        <%= render 'product_box', products: @products %>
      </div>
    </div>
  </div>
</section>
<% render 'light_section_footer' %>