<% provide(:title, @product.name) %>
<%= render 'shared/light_section_header' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'single_product', product: @product %>
    <%= render 'related_products', related_products: @related_products %>
  </div>
</section>
